extends layout

block content
        include navbar
        div(class="form-signin")
            div.text-left
                p id: #{user.id}
                p username: #{user.username}
                p email: #{user.email}
                p roles: #{user.roles}
                p accessToken: #{user.accessToken}